html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  text-align: center;
}
*:focus{
  outline:none;
}
.avatarPicker {
  display: inline-block;
  position: relative;
}
.avatarPicker:hover .avatarPicker__header .rounded {
  border: 1px solid #9ba0a3;
}
.avatarPicker.is-overflowed {
  overflow: hidden;
}
.avatarPicker .avatarPicker__header .rounded {
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
}
.avatarPicker img {
  display: block;
  max-width: 100%;
}
.avatarPicker .avatarList {
  opacity: 0;
  text-align: left;
  position: absolute;
  width: 280px;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -140px;
  background: rgb(44, 48, 51);
  border-radius: 2px;
  padding: 0 14px;
  box-shadow: 2px 2px 10px 0px rgb(102, 102, 102);
}
.avatarPicker .avatarList:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #2c3033 transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.avatarPicker .avatarList h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(249, 249, 249);
  font-size: 16px;
  margin: 14px 0 14px;
  text-align: center;
}
.avatarPicker .avatarList ul li {
  width: calc(25% - 14px);
  display: inline-block;
  margin: 0 14px 14px 0;
}
.avatarPicker .avatarList ul li:first-child .rounded {
  border: 3px solid #9ba0a3;
}
.avatarPicker .avatarList ul li:first-child .rounded:before {
  display: none;
}
.avatarPicker .avatarList ul li img {
  margin: 0 auto;
}
.avatarPicker .rounded {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.avatarPicker .rounded img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.avatarPicker .avatarList.is-hidden {
  opacity: 0;
  animation-name: bounceOut;
}
.avatarPicker .avatarList.is-shown {
  opacity: 1;
  animation-name: bounceIn;
}
.avatarPicker .avatarList .rounded:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(122, 161, 178, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.avatarPicker .avatarList .rounded.is-loading:before {
  content: "";
  display: block;
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid #7aa1b2;
  border-right: 3px solid #7aa1b2;
  border-left: 3px solid #7aa1b2;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}
.animated {
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  70% {
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  80% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  70% {
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    display: block;
  }
}

@-moz-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  70% {
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  80% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  70% {
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    display: block;
  }
}
@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@-moz-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
